/* Contenedor principal */
.home-container {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-image: url('../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
}

/* Contenido principal */
.main-content {
  display: flex; 
  justify-content: flex-start; 
  align-items: flex-start; 
  margin-top: 80px; 
  flex: 1; 
  padding-bottom: 50px; 
}
/* Widget de "Recientemente añadidos" */
.recently-added-widget {
  flex: 0 0 250px; 
  background-color: white;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin-left: 0; 
  margin-right: 20px; 
}

.recently-added-widget__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #ff5722; 
  padding-bottom: 5px;
}

.recently-added-widget__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recently-added-widget__item {
  font-size: 16px;
  margin-bottom: 8px;
}

.recently-added-widget__item:hover {
  color: #ff5722;
  cursor: pointer;
}

/* Texto principal */
.welcome-content {
  flex: 1; 
  margin-left: 20px; 
  text-align: center;
}

.welcome-content__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-content__description {
  font-size: 18px;
  margin-bottom: 10px;
}

.home-button {
  background-color: #ff5722;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #e64a19;
}